* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    background: url("../assets/home.png");
}
.ancients_card_container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 2%;   
}
.ancients_card {
    background-repeat: no-repeat;
    background-size: contain;
    width: 240px;
    height: 320px;
    cursor: pointer;
}
.ancients_card:hover {
    box-shadow: 0 15px 20px rgb(248, 249, 249);
}
.ancients1 {
    background-image: url("../assets/Ancients/Azathoth.png");
}
.ancients2 {
    background-image: url("../assets/Ancients/Cthulthu.png");
}
.ancients3 {
    background-image: url("../assets/Ancients/IogSothoth.png");
}
.ancients4 {
    background-image: url("../assets/Ancients/ShubNiggurath.png");
}
.difficulty_container {
    display: flex;
    justify-content: center;
    margin-top:30px;
    gap:2%;
}
.difficulty_button,
.shuffle_cards {
    border:none;
    text-decoration: none;
    outline: none;
    width: 125px;
    height: 40px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: #dcdbda;
    box-shadow: 0px 8px 15px rgba(247, 244, 244, 0.1);
    transition: .3s;
    cursor: pointer;
}
.difficulty_button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }
.difficult:hover {
    background: #e5532e;
    box-shadow: 0 15px 20px rgba(229, 95, 46, 0.4);
}
.normal:hover {
    background: #f0ba3c;
    box-shadow: 0 15px 20px rgba(200, 158, 41, 0.4);
}
.shuffle_cards {
    width: 200px;
    margin: 0 auto;
}
.shuffle_cards.hidden {    
    visibility: hidden;
}
.play_container {
    display: flex;
    justify-content: center;
    gap: 10%;
}
.card-container {
    margin-top: 30px;
}
.card,
.current_card {
    position: relative;
    width: 170px;
    height: 250px;
    cursor: pointer;
    background-size: cover;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card::before,
.card::after,
.card .card-inner {
    background-image: url("../assets/mythicCardBackground.png");
    background-size: cover;
    height: 100%;
    border: 1px solid #04211d;
    transition: transform 0.5s;
}

.card::before,
.card-inner {
    z-index: 1;
}

.card-inner {
    position: relative;
    padding: 4rem;
}
.cards-rotate::before,
.cards-rotate::after {
    transform-origin: 50% 100%;
}

.cards-rotate:hover {
    transform: translate(2.5px, 0) rotate(2.5deg);
}

.cards-rotate:hover::before {
    transform: translate(2.5px, 0) rotate(2.5deg);
}

.cards-rotate:hover::after {
    transform: translate(5px, 0) rotate(5deg);
}
.current_card.hidden {
    background-image: url("../assets/mythicCardBackground.png");
    visibility: hidden;
}

